# Example configuration for Linux Site Monitoring

# URL is considered slow if response time is higher than this value in seconds
SLOW_LIMIT=2

# If set to 1, systemd service can finish successfully even when some sites are down
MONITOR_SOFT_FAIL=1
